#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  /* will-change: filter; */
  transition: logo-spin 300ms;
  -webkit-transition: logo-spin 300ms;
  -moz-transition: logo-spin 300ms;
  -ms-transition: logo-spin 300ms;
  -o-transition: logo-spin 300ms;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
    -webkit-animation: logo-spin infinite 20s linear;
}
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
